<!DOCTYPE html>
<html>
<head>
  <title>MessageBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="clearfix">
		<div class="left-nav">
	    <ul>
	    </ul>
	  </div><!--/left-nav-->
	  <div class="right-nav">
	    <ul>
		    <li><%= link_to "Messages", messages_path %></li>
	      <li><%= link_to "Add Message", new_message_path %></li>
	    </ul>
	  </div><!--/right-nav-->
	</header>
	<section class="content">
		<%= yield %>
	</section><!--/section-->

</body>
</html>
